<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />
  <arg name="lidar" />
  <arg name="pose" />
  <rosparam command="load" file="$(find std_detector)/config/config_kitti.yaml" />
  <node 
		pkg="std_detector" 
		type="place_recognition_kitti" 
		name="place_recognition_kitti" 
		output="screen" 
	/>
  <param name="lidar_path" type="string" value = "$(arg lidar)/"/>
  <param name="pose_path" type="string" value = "$(arg pose)"/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find std_detector)/rviz_cfg/demo.rviz" />
  </group>

</launch>